.App-header {
  background-image: url('./components/background.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}

.App-logo {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  max-width: 100px;
  margin-top: 10vh;
  margin-right: 3vw;
}
