@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');
/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
}
/*css reset end*/



body{
    background-color: aliceblue;
    font-family: 'IBM Plex Sans', sans-serif;
}

.wrapper{
    margin-left: 70px;
    margin-right: 70px;
}

.header{
    height: 15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu{
    width: 370px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display:flex;
    font-size: 20px;
}

.logo{
    display:flex;
    height: 100px;
    width: 127px;
    background-image: url("./audi.png");
    align-items: center;
    background-repeat: no-repeat;
}

.car-background{
    height: 85vh;
    background-position: 20px;
    background-size: cover;
    background-image: url("audi.jpg");
    background-repeat: no-repeat;
}

.car-bg-text{
    font-family: 'BIZ UDGothic', sans-serif;
    padding-top: 15px;
    padding-left: 55px;
    font-size: 36px;
    text-decoration: underline;
}

#about{
    height: 100vh;
}

.title{
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.about-text{
    margin-top: 30px;
    font-size: 20px;
}

.bigger{
    color: red;
    font-size: 20px;
	font-weight: bolder;
}

ol{
    font-size: 18px;
    margin-left: 50px;
    font-weight: 500;
    margin-top: 30px;
}

li{
    margin-top: 30px;
    font-weight: 500;
    margin-left: 15px;
}

.about-images{
    display: flex;
    margin-top: 50px;
}

.img1{
    width: 900px;
}

.img2{
    width: 900px;
} 

.nav-open{
    display: none;
}

.burger-nav-menu{
    display: none;
    margin-top: 15vh;
    position: absolute;
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: bisque;    
}

.opened{
    display: flex;
}

@media (max-width: 1200px) {
    .nav-item{
        display: none;
    }

    .nav-open{
        display: flex;
    }

    .nav-menu{
        justify-content: end;
    }

    .car-bg-text{
        font-size: 24px;
        padding-left: 25px;
        padding-top: 25px;
    }

    .logo{
        height: 100px;
        width: 140px;
    }
}